<PageTitle>Order Page</PageTitle>

<div class="container">
	<div class="header">
		<Img src="./Img/logo.png" class="logo" alt="">
		<h3>Jumper Image Generator</h3>
	</div>

<div class="headline" style="font-size: 24px;">
    <p>Pizzas:</p>
</div>

    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="checkbox1" name="option1" value="Mediterranean Marvel">
        <label class="form-check-label" for="checkbox1">Mediterranean Marvel</label>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="checkbox2" name="option2" value="Spicy Inferno">
        <label class="form-check-label" for="checkbox2">Spicy Inferno</label>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="checkbox3" name="option3" value="Pesto Perfection">
        <label class="form-check-label" for="checkbox3">Pesto Perfection</label>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="checkbox4" name="option4" value="Tropical Paradise">
        <label class="form-check-label" for="checkbox4">Tropical Paradise</label>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="checkbox5" name="option5" value="Garden Delight">
        <label class="form-check-label" for="checkbox5">Garden Delight</label>
    </div>


    <button type="button" class="btn btn-outline-secondary">Submit</button>
